/* Wrapper for both sections */
.dashboard-sections {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
//   width: 955px;
width: 95% ;
  margin-left: 30px;
}

/* Left: Account Growth */
.growth-card {
  flex: 2;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #e5e7eb;
}

/* Header with icon */
.growth-card .card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.growth-card h2 {
  font-size: 1.4rem;
  margin: 0;
}

.growth-card p {
  margin: 0;
  color: #6b7280;
}

/* Chart placeholder */
.chart-placeholder {
  background-color: #f9fafb;
  border-radius: 12px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-icon {
  font-size: 48px;
  color: #9ca3af;
}

.chart-text {
  font-weight: 500;
  color: #6b7280;
}


.chart-sub {
  color: #9ca3af;
  font-size: 0.9rem;
}

/* Right: Quick Actions */
.quick-actions-card {
  flex: 1;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #e5e7eb;
  min-width: 280px;
}

.quick-actions-card h2 {
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
}

.quick-actions-card p {
  color: #6b7280;
  margin-bottom: 1.5rem;
}

/* Action buttons */
.action-list button {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 0.8rem;
  background-color: #f9fafb;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.action-list button:hover {
  background-color: #f3f4f6;
}

.action-list mat-icon {
  font-size: 20px;
}