<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bank-page">
        <div class="bank-page-div">
            <h2>My Bank Accounts</h2>
            <p>Effortlessly Manage Your Banking Activities</p>
        </div>
         
        <div class="bank-cards-cont">
            <p>Your cards</p>
            <div class="bank-cards-div">
                <div>
                    <img src="card3.png" alt="">
                </div>
                <div>
                    <img src="card3.png" alt="">
                </div>
                <div>
                    <img src="card3.png" alt="">
                </div>
                <div>
                    <img src="card3.png" alt="">
                </div>
                <div>
                    <img src="card3.png" alt="">
                </div>
                <div>
                    <img src="card3.png" alt="">
                </div>
            </div>
        </div>
      </div>    
</body>
</html>