<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="home-body">
   <nav class="home-header">
    <div class="home-header-left">
      <img class="logo-nav" src="logo.png" alt="">
      <div class="nav-home">
        <div>
            <p>Home</p>
            <p>Case Study</p>
            <p>Services</p>
        </div>
       
      </div>
    </div>
    <div class="home-header-right">
        <div class="header-btn-div">
            <div class="eng-div"><p>ENG</p></div>
            <div>
                <p class="log-text" routerLink="/login">Login</p>
            </div>
        </div>
       
        <div>
            <div>
                <button routerLink="/signup" class="get-button">Get Started</button>
            </div>
        
        </div>
    </div>
    <div class="menu-icon">
        <mat-icon class="menu-icons">menu</mat-icon>
    </div>
   </nav>

   <section class="hero-section">
    <div class="hero-me">
        <div class="herosection-txt-div">
            <h1>The Modern</h1>
            <h1>Finance Solution</h1>
            <h1>With, Payone</h1>
        </div>
       <div class="transform-div">
        <p>"Transforming the Future of Finance: Your Gateway</p>
        <p>to a seamless FinTech Experience"</p>
       </div>
       <div class="hero-button-div">
        <button class="getstarted-btn">Get Started</button>
        <button class="download-btn">Download Now</button>
       </div>
       <div class="user-img-div">
        <div>
            <img class="user-img" src="userimg.png" alt="">
        </div>
        <div>
            <span>1000+</span>
            <p>Beta Users</p>
        </div>
       </div>
    </div>
    <div class="hero-img-div">
        <img class="hero-img" src="hero.png" alt="">
    </div>
   </section>

  <section class="trusted-partners">
  <p class="trusted-text">SOME OF OUR TRUSTED PARTNERS/AFFILIATES</p>
  <div class="partners-logos">
    <img src="microsoft.png" alt="">
    <img src="google.png" alt="">
    <img src="stripe.png" alt="">
    <img src="entrepreneur.png" alt="">
    <img src="uber.png" alt="">
    <img src="forbes.png" alt="">
  </div>
</section>


   <section class="checking-acc">
    <div class="checking-cont">
    <div class="checking-div">
        <img class="checking-img" src="checking-img.png" alt="">
        <div class="checking-indiv">
            <h3>Checking Accounts</h3>
            <div>
                <p>Our Checking Account is the</p>
                <p>perfect solution for managing</p>
                <p>your day-to-day financial</p>
                <p>transactions.</p>
            </div>
        </div>
    </div>
    <div class="checking-divs">
        <img class="checking-img" src="acc-2.png" alt="">
        <div class="checking-indiv">
            <h3>Checking Accounts</h3>
            <div>
                <p>Our Checking Account is the</p>
                <p>perfect solution for managing</p>
                <p>your day-to-day financial</p>
                <p>transactions.</p>
            </div>
        </div>
    </div>
    <div class="checking-div">
        <img class="checking-img" src="checking-img.png" alt="">
        <div class="checking-indiv">
            <h3>Checking Accounts</h3>
            <div>
                <p>Our Checking Account is the</p>
                <p>perfect solution for managing</p>
                <p>your day-to-day financial</p>
                <p>transactions.</p>
            </div>
        </div>
    </div>
</div>
   </section>

   <section class="finance-modules">
       <div>
          <img class="atm-img" src="atm-img.png" alt="">
       </div>
       <div class="finance-me">
           <div>
            <h2 class="finance-texts">All your finance</h2>
            <h2 class="finance-texts">modules in one App</h2>
          </div>
          <div class="finance-fin">
            <p >Welcome to our Fintech website! We are here to</p>
            <p>revolutionize the way you manage your finances,</p>
            <p>making it easier, faster, and more accessible for</p>
            <p>everyone.</p>
          </div>
          <div class="finance-fin">
            <p>With our cutting-edge technology and innovative</p>
            <p>solutions, we aim to empower individuals</p>
          </div>
          <button class="learn-more-btn">
            Learn More
          </button>
       </div>
   </section>

   <section class="finance-moduless">
    <div>
       <img class="atm-img" src="second-atm.png" alt="">
    </div>
    <div>
        <div>
         <h2 class="finance-texts">All your finance</h2>
         <h2 class="finance-texts">modules in one App</h2>
       </div>
       <div class="finance-fin">
         <p >Welcome to our Fintech website! We are here to</p>
         <p>revolutionize the way you manage your finances,</p>
         <p>making it easier, faster, and more accessible for</p>
         <p>everyone.</p>
       </div>
       <div class="finance-fin">
         <p>With our cutting-edge technology and innovative</p>
         <p>solutions, we aim to empower individuals</p>
       </div>
       <button class="learn-more-btn">
         Learn More
       </button>
    </div>
</section>

<section class="finance-modules">
    <div>
       <img class="atm-img" src="third-atm.png" alt="">
    </div>
    <div>
        <div>
         <h2 class="finance-texts">All your finance</h2>
         <h2 class="finance-texts">modules in one App</h2>
       </div>
       <div class="finance-fin">
         <p >Welcome to our Fintech website! We are here to</p>
         <p>revolutionize the way you manage your finances,</p>
         <p>making it easier, faster, and more accessible for</p>
         <p>everyone.</p>
       </div>
       <div class="finance-fin">
         <p>With our cutting-edge technology and innovative</p>
         <p>solutions, we aim to empower individuals</p>
       </div>
       <button class="learn-more-btn">
         Learn More
       </button>
    </div>
</section>

<section class="customer-div">
    <div class="customer-inner">
        <h1>What Our Customer</h1>
        <h1>Are Saying</h1>
    </div>
    <div  class="customer-innerall">
        <div class="customer-innerdiv">
            <!-- icons -->
             <p>"Fantastic financial app experience! I have been using this finance app for a while now and i must say, it has completely transformed the way I manage my finances.</p>
               <div>
                <img src="" alt="">
                <div>
                    <p>Madhu Mia</p>
                    <p>Product Designer</p>
                    <img src="" alt="">
                </div>
               </div>
            </div>
            <div class="customer-innerdiv">
                <!-- icons -->
                 <p>"Fantastic financial app experience! I have been using this finance app for a while now and i must say, it has completely transformed the way I manage my finances.</p>
                   <div>
                    <img src="" alt="">
                    <div>
                        <p>Madhu Mia</p>
                        <p>Product Designer</p>
                        <img src="" alt="">
                    </div>
                   </div>
                </div>
                <div class="customer-innerdiv">
                    <!-- icons -->
                     <p>"Fantastic financial app experience! I have been using this finance app for a while now and i must say, it has completely transformed the way I manage my finances.</p>
                       <div>
                        <img src="" alt="">
                        <div>
                            <p>Madhu Mia</p>
                            <p>Product Designer</p>
                            <img src="" alt="">
                        </div>
                       </div>
                    </div>
    </div>
</section>

<section class="open-div">
    <div class="open-innerdiv">
        <h1>Open your account today & Enjoy!</h1>
        <p>World-calls marketing freelancer and micro gorenfie</p>
        <div class="hero-button-div">
            <button class="getstarted-btn">Get Started</button>
            <button class="download-btn">Download Now</button>
           </div>
    </div>
   
</section>

<footer>
    <div>
        <div>
            <img src="logo.png" alt="">
            <p>Your banking Journey Simplified</p>
        </div>
        <div>
             <div>
                <ul>
                    Contact
                    <li>+1(469)409 9209></li>
                    <li>hellodaniel.com</li>
                </ul>
                <ul>
                    Adress
                    <li>+1(469)409 9209></li>
                    <li>hellodaniel.com</li>
                </ul>
             </div>
             <div>
                <ul>
                    Contact
                    <li>+1(469)409 9209></li>
                    <li>hellodaniel.com</li>
                    <li>hellodaniel.com</li>
                    <li>hellodaniel.com</li>
                    <li>hellodaniel.com</li>
                </ul>
             </div>
             <div>
                <ul>
                    Contact
                    <li>+1(469)409 9209></li>
                    <li>hellodaniel.com</li>
                    <li>hellodaniel.com</li>
                    <li>hellodaniel.com</li>
                </ul>
             </div>
        </div>
    </div>
</footer>
</body>
</html>