<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <div class="login">
        <div class="login-left">
            <form action="">
                <div>
                    <img class="login-img" src="logo.png" alt="">
                </div>
                <div class="login-innerdiv">
                    <h1>Log in</h1>
                    <p>Welcome back! Please enter your details</p>
                </div>
                <div class="email-input-div">
                    <span>Email</span>
                    <input type="email" placeholder="Enter your email">
                </div>
                <div class="email-input-div">
                    <span>Password</span>
                    <input type="password" placeholder="Enter your password">
                </div>
                <button routerLink="/dashboard/home"  class="login-btn">Login</button>
                <p routerLink="/signup" class="dont-account-txt">Dont have an account? <span>Sign up</span></p>
            </form>
        </div>
        <div class="login-right">
            <img src="Section.png" alt="">
        </div>
      </div>
</body>
</html>