<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="right-side">
        <div class="right-side-under">
        <!-- <mat-toolbar color="primary">Dashboard Content</mat-toolbar> -->
         <div class="welcome-div">
            <h1>Welcome, <span>Daniel</span></h1>
            <p>Access & manage your account and transactions efficiently</p>
         </div>

         <div class="second-right-div">
            <div class="sec-div">
            <img class="pie-img" src="Piechart.png" alt="">
            <div>
                <p class="two-acc">0 Bank Accounts</p>
                <div>
                    <p class="total-balance">Total Current Balance</p>
                    <h1 class="right-price">&#8358;0</h1>
                </div>
            </div>
        </div>
            <div class="bank-adds">
                <mat-icon class="custom-iconsss">add</mat-icon>
                <p class="add-bank">Add bank</p>
            </div>
         </div>

         <div class="transactions-right">
            <div class="top-transaction">
                <p class="recent-txt">Recent transactions</p>
                <button class="view-btn">View all</button>
            </div>
            <div class="bank-right">
                <div class="chase-bank-active">
                    <p class="chase-right-txt">Chase Bank</p>
                </div>
                <div class="chase-bank-div">
                    <p>Bank of America</p>
                </div>
                <div class="chase-bank-div">
                    <p>First Platypus Bank</p>
                </div>
            </div>
         </div>

         <div class="savings-bank">
            <div class="savings-bank-top">
              <img class="blue-left-img" src="Avatar1.png" alt="">
              <div class="b-under">
                <span class="save-bank-txt">Chase Bank</span>
                <p class="save-bank-price">$0</p>
              </div>
            </div>
            <div>
                <div class="save-div">savings</div>
            </div>
         </div>

         <div class="transaction-table-container">
            <table class="transaction-table">
              <thead>
                <tr>
                  <th>Transaction</th>
                  <th>Amount</th>
                  <th>Status</th>
                  <th>Date</th>
                  <th>Category</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="transactionTable">
                    <img class="tableProfile" src="tableProfile.png" alt="">
                    <span class="user-table-name">Transfer to John</span>
                    
                </td>
                  <td class="amount credit">+$200.00</td>
                  <td class="status success">
                    <button class="status-btn"> Success</button>
                </td>
                  <td> <span class="date-table-txt">Apr 1, 2025</span></td>
                  <td class="status success"> <button class="status-btn"> Deposit</button></td>
                </tr>
                <tr>
                    <td class="transactionTable">
                      <img class="tableProfile" src="tableProfile.png" alt="">
                      <span class="user-table-name">Transfer to John</span>
                      
                  </td>
                    <td class="amount credit">+$200.00</td>
                    <td class="status failed">
                      <button class="status-btn"> Success</button>
                  </td>
                    <td> <span class="date-table-txt">Apr 1, 2025</span></td>
                    <td class="status success"> <button class="status-btn"> Deposit</button></td>
                  </tr>
                  <tr>
                    <td class="transactionTable">
                      <img class="tableProfile" src="tableProfile.png" alt="">
                      <span class="user-table-name">Transfer to John</span>
                      
                  </td>
                    <td class="amount credit">+$200.00</td>
                    <td class="status failed">
                      <button class="status-btn"> Success</button>
                  </td>
                    <td> <span class="date-table-txt">Apr 1, 2025</span></td>
                    <td class="status failed"> <button class="status-btn"> Deposit</button></td>
                  </tr>
                  <tr>
                    <td class="transactionTable">
                      <img class="tableProfile" src="tableProfile.png" alt="">
                      <span class="user-table-name">Transfer to John</span>
                      
                  </td>
                    <td class="amount credit">+$200.00</td>
                    <td class="status success">
                      <button class="status-btn"> Success</button>
                  </td>
                    <td> <span class="date-table-txt">Apr 1, 2025</span></td>
                    <td class="status failed"> <button class="status-btn"> Deposit</button></td>
                  </tr>
                  <tr>
                    <td class="transactionTable">
                      <img class="tableProfile" src="tableProfile.png" alt="">
                      <span class="user-table-name">Transfer to John</span>
                      
                  </td>
                    <td class="amount credit">+$200.00</td>
                    <td class="status failed">
                      <button class="status-btn"> Success</button>
                  </td>
                    <td> <span class="date-table-txt">Apr 1, 2025</span></td>
                    <td class="status success"> <button class="status-btn"> Deposit</button></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="leftSide">
           <div>
            <div class="rainbow-div">
            <img class="rainbow-img" src="rainbow.png" alt="">
            <div class="large-div">
                <img class="large" src="LargeAvatar.png" alt="">
                </div>
            </div> 
           
           </div>

           <div class="left-name-div">
            <span class="left-name-txt">Igwe Daniel</span>
            <p class="left-name-email">igwedaniel128gmail</p>
           </div>

           <div class="left-banks">
             <div class="left-banks-div">
                <p class="my-banks">My Banks</p>
                <div class="left-add-banks">
                    <mat-icon class="custom-icons">add</mat-icon>
                    <p class="add-banks-text">Add bank</p>
                </div>
             </div>
             <div class="cards-div">
                <div class="card1">
                    <img class="card-img" src="card1.png" alt="">
                    <div class="card2">
                        <img class="card-img" src="card2.png" alt="">
                    </div>
                </div>
             </div>
           </div>

        <div class="left-banks-divs">
            <div>
                <p class="my-banks">My Banks</p>
            </div>
            <div>
                <mat-icon class="custom-icons">more_vert</mat-icon>
            </div>
         </div>

         <div class="featured-cont">
            <div class="featured-bar">
                <div>
                    <img class="feautured-img" src="Featuredicon.png" alt="">
                </div>
           
                <div class="progress-container">
                    <div class="progress-header">
                      <span class="pro-com">Profile Completion</span>
                      <span class="progress-value">$25 left</span>
                    </div>
                    <div class="progress-bar">
                      <div class="progress-fill" style="width: 75%"></div>
                    </div>
                  </div>
             </div>

             <div class="featured-bar">
                <div>
                    <img class="feautured-img" src="Featuredicon.png" alt="">
                </div>
           
                <div class="progress-container">
                    <div class="progress-header">
                      <span class="pro-com">Profile Completion</span>
                      <span class="progress-value">$25 left</span>
                    </div>
                    <div class="progress-bar">
                      <div class="progress-fill" style="width: 75%"></div>
                    </div>
                  </div>
             </div>

             <div class="featured-bar">
                <div>
                    <img class="feautured-img" src="Featuredicon.png" alt="">
                </div>
           
                <div class="progress-container">
                    <div class="progress-header">
                      <span class="pro-com">Profile Completion</span>
                      <span class="progress-value">$25 left</span>
                    </div>
                    <div class="progress-bar">
                      <div class="progress-fill" style="width: 75%"></div>
                    </div>
                  </div>
             </div>
         </div>

          
        </div>
      </div>
</body>
</html>