<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <div class="sidebar">
        <div>
        <div>
            <img class="side-img" src="logo.png" alt="Frame 3 Image">
        </div>
        <div class="side-input">
            <mat-icon class="custom-iconss">search</mat-icon>
            <input  type="text" placeholder="Search">
        </div>
       
        
        <ul>
          <li class="side-active"><a href="/dashboard/home"> <mat-icon>home</mat-icon> Home</a></li>
          <li><a href="/dashboard/bank"><mat-icon class="custom-icon">account_balance_wallet</mat-icon>  My Banks</a></li>
          <li><a href="/dashboard/transaction"><mat-icon>sync_alt</mat-icon> Transaction History</a></li>
          <li><a href="/dashboard/payment"><mat-icon>payment</mat-icon> Payment Transfer</a></li>
          <li><a href="#"><mat-icon>link</mat-icon>  Connect Bank</a></li>
        </ul>
        </div>
     
        <div class="below-side-div">
            <div>
              <img class="av-img" src="Avatar.png" alt="">
            </div>
            <div class="side-below-txt">
               <span>Adrian Hajdin</span>
               <p>igwedaniel128gmail.com</p>
            </div>
        </div>
      </div>
</body>
</html>