<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <div class="login">
        <div class="login-left">
            <form action="">
                <div>
                    <img class="login-img" src="logo.png" alt="">
                </div>
                <div class="login-innerdiv">
                    <h1>Sign up</h1>
                    <p>Please enter your details</p>
                </div>
                <div>
                    <div class="signup-innerdiv">
                        <div class="email-input-divs">
                            <span>Email</span>
                            <input type="email" placeholder="Enter your email">
                        </div>
                        <div class="email-input-divs">
                            <span>Last Name</span>
                            <input type="text" placeholder="ex: Name">
                        </div>
                    </div>
                    <div class="email-input-div">
                        <span>Adress</span>
                        <input type="email" placeholder="Add your specific address">
                    </div>
                    <div class="signup-innerdiv">
                        <div class="email-input-divs">
                            <span>State</span>
                            <input type="text" placeholder="NY">
                        </div>
                        <div class="email-input-divs">
                            <span>Postal Code</span>
                            <input type="text" placeholder="ex: 11101">
                        </div>
                    </div>
                    <div class="signup-innerdiv">
                        <div class="email-input-divs">
                            <span>Date of Birth</span>
                            <input type="text" placeholder="yyyy-mm-dd">
                        </div>
                        <div class="email-input-divs">
                            <span>SSN</span>
                            <input type="text" placeholder="ex: 1234">
                        </div>
                    </div>
                    <div class="email-input-div">
                        <span>Email</span>
                        <input type="email" placeholder="Enter your email">
                    </div>
                    <div class="email-input-div">
                        <span>Password</span>
                        <input type="email" placeholder="Enter your password">
                    </div>
                    <button class="login-btn">Sign up</button>
                    <p class="dont-account-txt">Dont have an account? <span>Login</span></p>
                </div>
            </form>      
        </div>
        <div class="login-right">
            <img src="Section.png" alt="">
        </div>
      </div>     
</body>
</html>