<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="containers">
    <h2>Transaction history</h2>
    <p class="subtext">Gain Insights and Track Your Transactions Over Time</p>

    <div class="account-card">
      <div>
        <h3>Chase</h3>
        <p class="account-details">Chase Growth Savings Account •••• 9999</p>
      </div>
      <div class="balance-box">$1000</div>
    </div>

    <div class="transaction-table">
      <table>
        <thead>
          <tr>
            <th>Transaction</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Date</th>
            <th>Category</th>
          </tr>
        </thead>
       <tbody>
  <tr *ngFor="let txn of transactions">
    <td>{{ txn.name }}</td>
    <td [ngClass]="{'amount positive': txn.amount > 0, 'amount negative': txn.amount < 0}">
     {{ txn.amount > 0 ? '+' : '-' }} ₦{{ getAbs(txn.amount) }}
    </td>
    <td><span class="status" [ngClass]="txn.status.toLowerCase()">{{ txn.status }}</span></td>
    <td>{{ txn.date }}</td>
    <td><span class="category">{{ txn.category }}</span></td>
  </tr>
</tbody>

      </table>
    </div>

    <div class="pagination">
      <button>&laquo; Previous</button>
      <button class="active">1</button>
      <button>2</button>
      <button>3</button>
      <button>...</button>
      <button>10</button>
      <button>Next &raquo;</button>
    </div>
  </div>
</body>
</html>