<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="transaction-container">
        <div>
            <div>
                <h2>Transaction History</h2>
                <p>Gain Insights and Track Your Transaction Over Time</p>
            </div>
            <div>
                <p>Select Account</p>
            </div>
        </div>
        <div>
            <div>
                <h3>Chase</h3>
                <p>Chase Growth Savings Account</p>
                <div>.... .... .... 9999</div>
            </div>
            <div>
                <p>Current Balance</p>
                <h1>$41,382.80</h1>
            </div>
        </div>
        <div>
            <p>Transaction history</p>
            <div>
                <p>Apply filter</p>
            </div>
        </div>
       
      </div>
</body>
</html>