<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="dashboard">
  <div class="navbar">
    <input class="search-box" type="text" placeholder="Search..." />
    <div class="actions">
      <div class="user-box">
        <mat-icon class="notification">notifications</mat-icon>
        <div class="avatar">A</div>
        <div class="user-info">
          <strong>Admin User</strong>
          <span>Super Admin</span>
        </div>
      </div>
    </div>
  </div>
 

  <div class="dashboard-header">
    <div class="dashboard-header-inner">
      <h1>Transactions</h1>
    <p>Monitor and manage all financial transactions</p>
    </div>
      <button class="report-btn">Export</button>
  </div>

  <div class="cards">
    <div class="card">
      <div class="card-header">
        <span>Total Volume</span>
        <!-- <mat-icon>group</mat-icon> -->
      </div>
      <h2>&#8358;1000</h2>
      <p class="positive">+15.3% from yesterday</p>
    </div>

    <div class="card">
      <div class="card-header">
        <span>Total Transactions</span>
        <!-- <mat-icon class="green">attach_money</mat-icon> -->
      </div>
      <h2>2</h2>
      <p class="positive">+8.7% from yesterday</p>
    </div>

    <div class="card">
      <div class="card-header">
        <span>Completed</span>
        <!-- <mat-icon class="purple">credit_card</mat-icon> -->
      </div>
      <h2>2</h2>
      <p class="positive">+12.1% from yesterday</p>
    </div>

    <div class="card">
      <div class="card-header">
        <span>Pending</span>
        <!-- <mat-icon class="orange">2</mat-icon> -->
      </div>
      <h2>0</h2>
      <p class="negative">Requires attention</p>
    </div>
  </div>

    <div class="container">

    <div class="header">
      <div class="head-tit">
         <h2>All Transaction</h2>
      </div>
     
      <div class="actions">
        <input class="search-input" type="text" placeholder="Search users…" />
        <button class="filter-btn">Filter</button>
      </div>
    </div>

  <div class="transaction" *ngFor="let txn of transactions">
  <div class="info">
    <div class="icon"><mat-icon class="blue">credit_card</mat-icon></div>
    <div>
      <p class="name">{{ txn.name }}</p>
      <p class="meta">{{ txn.id }} • {{ txn.type }}</p>
    </div>
  </div>
  <div class="details">
    <p class="amount">₦{{ txn.amount | number:'1.0-2' }}</p>
    <span class="status" [ngClass]="txn.status">{{ txn.status | titlecase }}</span>
  </div>
</div>

   
  </div>
</div>
</body>
</html>
